<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Favorite Pokemon</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>What's your favorite pokemon?</h1>
        <div id = 'error'><%= errorMsg %></div>
        <form action='/setFavorite' method='post'>
        <fieldset>
            <label for='name'><strong>Name: </strong></label>
            <input required id='name' name='name' type='text'> 
            <label for='email'><strong>Email Address: </strong></label>
            <input required id='email' name='email' type='email'>
            <br><br>
            <label for='pokemon'><strong>Favorite Pokemon: </strong></label>
            <input required id='pokemon' name='pokemon' type='text'>
            <br><br>
            <label for='why'><strong>Why is this your favorite Pokemon? </strong></label><br>
            <textarea rows='5' width='20' id='why' name='why'></textarea>
            <br> 
        </fieldset>

        <input type='reset' value='Reset'> 
        <input type='submit' value="Submit">

        </form>

        <a href="/">homepage</a>
    </body>
</html>