<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WELCOME</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <h1>W E L C O M E</h1>
        <a href='setFavorite'>Submit your favorite pokemon</a><br><br>
        <a href='viewFavorite'>View your favorite pokemon</a>
    </body>
</html>